<form name=get method=post>
<input name=url size=100 type=text value=http://>
<input type=button onclick="javascript:get.action=document.get.url.value;get.submit()" value=ok>
<br><textarea name=c id=S1 rows=30 cols=100 ></textarea><br>
</form>

